<div class="row">
  <div class="col-xs-3 no-side-padding">
    <biotrack-card-biotrack-id
      [biotrackID]="currentSubject._id">
    </biotrack-card-biotrack-id>
  </div>
  <div class="col-xs-3 no-side-padding">
    <biotrack-card-cab-id
      [cabID]="currentSubject._id">
    </biotrack-card-cab-id>
  </div>
  <div class="col-xs-3 no-side-padding">
    <biotrack-card-cab-id
      [cabID]="currentSubject._id">
    </biotrack-card-cab-id>
    <!-- <biotrack-card-location
      [location]="location_card_input">
    </biotrack-card-location> -->
  </div>
  <div class="col-xs no-side-padding">
    <!-- <biotrack-card-status
      [status]="status_card_input">
    </biotrack-card-status> -->
  </div>
</div>

<div class="row" style="margin-top: 1em;">
  <div class="col-xs-3 no-side-padding">
    <biotrack-card-location
      [location]="location_card_input">
    </biotrack-card-location>
    <biotrack-card-status
      [status]="status_card_input">
    </biotrack-card-status>
    <div class="card" style="margin-top: 1em;">
      <div class="card-block">
        <!-- <h3 class="card-title">Notes</h3> -->
        <div class="card-text">
          Notes
          <!-- <div class="form-group"> -->
          <!-- <label for="formFields_8">Textarea</label> -->
          <textarea id="notes" rows="10" style="resize: none;">{{currentSubject.notes}}</textarea>
          <!-- </div> -->
        </div>
      </div>
      <div class="card-footer">
        <a href="..." class="btn btn-primary">Save</a>
        <button class="btn btn-link">Cancel</button>
      </div>
    </div>
  </div>

  <div class="col-xs">
    <div class="row">
      <div class="col-xs no-side-padding">

        <biotrack-card-information
          [metadata]="currentSubjectsMetadataObject"
          [identifications]="currentSubjectsIdentificationObject">
        </biotrack-card-information>
      </div>
    </div>
  </div>
</div>
