<clr-tabs>
    <clr-tab-link [clrTabLinkActive]="true">Information</clr-tab-link>
    <clr-tab-link>Activity Log</clr-tab-link>
    <clr-tab-link>Measurements</clr-tab-link>

    <clr-tab-content [clrTabContentActive]="true">
      <div class="content-area" style="overflow-y: auto; height: 100vh;">
      <biotrack-subjects-info-tab
        [currentSubject]="currentSubject"
        [currentSubjectsMetadataObject]="currentSubjectsMetadataObject"
        [currentSubjectsIdentificationObject]="currentSubjectsIdentificationObject">
      </biotrack-subjects-info-tab>
    </div>
    </clr-tab-content>

    <clr-tab-content>
      <biotrack-subjects-activity-tab></biotrack-subjects-activity-tab>
    </clr-tab-content>

    <clr-tab-content>
      <div class="content-area" style="overflow-y: scroll; height: 100vh;">
      <biotrack-subjects-measurement-tab
        [currentSubjectsMeasurementObject]="currentSubjectsMeasurementObject">
      </biotrack-subjects-measurement-tab>
    </div>
    </clr-tab-content>
</clr-tabs>
<!-- <pre>
  {{currentSubjectsIdentificationObject | omit: '__typename' | json}}
</pre> -->
