<div class="row">
  <div class="col-xs-12">
    <div class="card" style="margin-top:0.5em;">
      <div class="card-header">
        <button class="stack-action btn btn-sm btn-outline" [disabled]="selectedComponents.length === 0" (click)="moveComponentModal = true"
          type="button">
                Move Component
              </button>
        <button class="stack-action btn btn-sm btn-outline" [disabled]="selectedComponents.length === 0" (click)="changeComponentStatusModal = true"
          type="button">
              Change Status
            </button>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 0.5em;">
  <clr-datagrid [(clrDgSelected)]="selectedComponents">
    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} components
      <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
    <clr-dg-column>
      <clr-dg-string-filter [clrDgStringFilter]="idFilter"></clr-dg-string-filter>
      <ng-container *clrDgHideableColumn="{hidden : true}">
        ID
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <clr-dg-string-filter [clrDgStringFilter]="nameFilter"></clr-dg-string-filter>
      <ng-container *clrDgHideableColumn="{hidden : false}">
        Name
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <clr-dg-string-filter [clrDgStringFilter]="locationFilter"></clr-dg-string-filter>
      <ng-container *clrDgHideableColumn="{hidden : false}">
        Location
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <clr-dg-string-filter [clrDgStringFilter]="groupFilter"></clr-dg-string-filter>
      <ng-container *clrDgHideableColumn="{hidden : false}">
        Group
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <clr-dg-string-filter [clrDgStringFilter]="statusFilter"></clr-dg-string-filter>
      <ng-container *clrDgHideableColumn="{hidden : false}">
        Status
      </ng-container>
    </clr-dg-column>
    <!-- <clr-dg-column>Creation date</clr-dg-column>
    <clr-dg-column>Favorite color</clr-dg-column> -->

    <clr-dg-row *clrDgItems="let component of components" [clrDgItem]="component">
      <clr-dg-cell>{{component._id}}</clr-dg-cell>
      <clr-dg-cell>{{component.type}}</clr-dg-cell>
      <clr-dg-cell>{{component.location}}</clr-dg-cell>
      <clr-dg-cell>{{component.group}}</clr-dg-cell>
      <clr-dg-cell>{{component.status}}</clr-dg-cell>
      <!-- <clr-dg-cell>{{component.creation | date}}</clr-dg-cell>
        <clr-dg-cell>{{component.color}}</clr-dg-cell> -->

      <clr-dg-row-detail *clrIfExpanded>
        {{component.notes}}
      </clr-dg-row-detail>
    </clr-dg-row>


  </clr-datagrid>

  <div class="card card-block">
    <p class="card-text username-list">
      Selected component:
      <em *ngIf="!selectedComponents">No component selected.</em>
      <span class="username" *ngIf="selectedComponents">{{selectedComponents| json}}</span>
    </p>
  </div>
</div>

<!--Move component to new location modal  -->
<clr-modal [(clrModalOpen)]="moveComponentModal" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Move Components to New Location</h3>
  <div class="modal-body">
    <p>Choose a new location from the list below. This location will be updated for the components you selected.</p>
    <form>
      <section class="form-block">
        <div class="form-group">
          <label for="selects_1">New Location</label>
          <div class="select">
            <select id="selects_1" #newLocation>
                    <option *ngFor="let location of locations">{{location}}</option>
                </select>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="moveComponentModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="changeLocation(newLocation.value)">Ok</button>
  </div>
</clr-modal>

<!--change status modal  -->
<clr-modal [(clrModalOpen)]="changeComponentStatusModal" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Change Component Status</h3>
  <div class="modal-body">
    <p>Choose a new status from the list below. This status will be updated for the components you selected.</p>
    <form>
      <section class="form-block">
        <div class="form-group">
          <label for="selects_1">New Status</label>
          <div class="select">
            <select id="selects_1">
                    <option *ngFor="let st of status">{{st}}</option>
                </select>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="changeComponentStatusModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
  </div>
</clr-modal>
