<div class="card" style=" display:flex; flex-direction: column; margin-top: 1.0em;">
  <div class="card-block">
    <p class="card-text">
      Subject Information
    </p>
    <clr-stack-view>
      <clr-stack-block>
        <clr-stack-label>Identifications</clr-stack-label>
        <clr-stack-content> </clr-stack-content>

        <clr-stack-block *ngFor="let id_item of identifications | omit: '_id' | omit: '__typename' | pairs">
          <clr-stack-label>{{id_item[0]}}</clr-stack-label>
          <clr-stack-content>{{id_item[1]}}</clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block
        [clrSbExpanded]="true">
          <clr-stack-label>Metadata</clr-stack-label>

          <clr-stack-block *ngFor="let meta of metadata | omit: '_id' | omit: '__typename' | pairs">
              <clr-stack-label>{{meta[0]}}</clr-stack-label>
              <clr-stack-content>{{meta[1]}}</clr-stack-content>
          </clr-stack-block>
      </clr-stack-block>
    </clr-stack-view>

    <clr-modal [(clrModalOpen)]="editModal">
      <h3 class="modal-title">Edit mode</h3>
      <div class="modal-body">
          <clr-stack-view>
              <clr-stack-block [clrSbExpanded]="true">
                  <clr-stack-label>Metadata</clr-stack-label>

                  <clr-stack-block
                      *ngFor="let meta of metadata | omit: '_id' | omit: '__typename' | pairs">
                      <clr-stack-label>{{meta[0]}}</clr-stack-label>
                      <clr-stack-content>
                          <input type="text" value="{{meta[1]}}" />
                      </clr-stack-content>
                  </clr-stack-block>
              </clr-stack-block>
          </clr-stack-view>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="editModal = false">Done</button>
      </div>
    </clr-modal>
  </div>
  <div class="card-footer">
    <button
        class="stack-action btn btn-link"
        (click)="editModal = true"
        type="button">Edit</button>
  </div>
</div>
