<header class="header-5">
    <div class="branding">
        <a href="" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">BioTrack</span>
        </a>
    </div>
    <biotrack-navbar-sections [sections]="sections" (newMode)="setNewMode($event)"></biotrack-navbar-sections>
    <div class="header-actions">
        <a style="cursor: pointer;" class="nav-link nav-icon" (click)="fullscreen()">
            <!-- <clr-icon shape="cog"></clr-icon> -->
            <i mz-icon-mdi *ngIf="fullscreenBool==true"
              icon="fullscreen-exit">
            </i>
            <i mz-icon-mdi *ngIf="!fullscreenBool"
              icon="fullscreen">
            </i>
        </a>
    </div>
</header>
