<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">BioTrack</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="" [routerLink]="['/suppliers']" class="nav-link" [class.active]="isActive('suppliers')" (click)="this.modesService.setMode('suppliers')">
          <span class="nav-text">Suppliers</span>
        </a>
        <a href="" [routerLink]="['/suppliers']" class="nav-link" [class.active]="isActive('subjects')" (click)="this.modesService.setMode('subjects')">
          <span class="nav-text">Subjects</span>
        </a>
        <a href="" [routerLink]="['/suppliers']" class="nav-link" [class.active]="isActive('inventory')" (click)="this.modesService.setMode('inventory')">
          <span class="nav-text">Inventory</span>
        </a>
    </div>
    <div class="header-actions">
        <a class="nav-link nav-icon" (click)="fullscreen()">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
