<div class="content-container">
  <nav class="sidenav">
    <section class="sidenav-content" style="overflow-y: auto; height: 100vh;">
      <biotrack-suppliers-master
        [suppliers]="suppliers"
        [activeSupplier]="activeSupplier"
        (selectedSupplier)="selectSupplier($event)">
      </biotrack-suppliers-master>
    </section>
  </nav>
    <div class="content-area" style="overflow-y: auto; height: 100vh; padding-top:0px;">
      <biotrack-suppliers-detail
        [selectedSupplier]="selectedSupplier"
        [subjectsBySelectedSupplier]="subjectsBySelectedSupplier">
      </biotrack-suppliers-detail>
    </div>
</div>
