<div class="content-container">
  <nav class="sidenav">
    <section class="sidenav-content" style="overflow-y: auto; height: 100vh;">
      <biotrack-subjects-master
        [subjects]="subjects"
        [activeSubjectId]="activeSubjectId"
        (selectedSubject)="selectSubject($event)">
      </biotrack-subjects-master>
    </section>
  </nav>
  <div class="content-area" style="padding-top:0px; overflow-y: auto; height: 100vh;">
    <biotrack-subjects-detail
      [selectedSubject]="selectedSubject">
    </biotrack-subjects-detail>
  </div>
</div>
