<clr-tabs>
    <clr-tab-link [clrTabLinkActive]="true">Information</clr-tab-link>
    <clr-tab-link>Subjects</clr-tab-link>

    <clr-tab-content [clrTabContentActive]="true">
      <p>Information about the supplier.</p>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm card clickable" ngxClipboard [cbContent]="this.id">
              <span class="tooltip-content">Click to copy ID.</span>
              <div class="card-block">
                <h4 class="card-title">ID</h4>
                <p class="card-text">{{this.id}}</p>
              </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Name</h4>
                    <p class="card-text">{{this.name}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Description</h4>
                    <p class="card-text">{{this.description}}</p>
                </div>
            </div>
        </div>
      </div>
    </clr-tab-content>
    <clr-tab-content>
        <p>Subjects provided by the supplier.</p>
        <biotrack-suppliers-details-subjects-tab
          [subjectsBySelectedSupplier]="subjectsBySelectedSupplier" >
        </biotrack-suppliers-details-subjects-tab>

    </clr-tab-content>
</clr-tabs>
